//-
   Mentor dashboard index
extends _layout-mentor

block mentor_content
    +contentHeading("dashboard home")

    // TODO add a name here
    p welcome back

    +contentHeading("mentor information")

    br
    +showMessages(messages)

    +contentHeading("Mentor Requests Queue")

    +sectionHeading("Overview")

    p
        | welcome to your mentor requests queue
        | . a request has three possible statuses:
    span.unclaimed
        | Unclaimed:
    |  A request that you may claim below and then visit the student's location to help them.
    br
    span.claimed
        | Claimed:
    |  A request that has been claimed, and the mentor who claimed it will be shown.
    br
    span.completed
        | Completed:
    |  A request that has been fully completed after a mentor claimed it and then resolved the student's request.
    br
    .header-wrapper
        h2.page-title requests