extends ../_layout-unsecured


block header
    link(href="/css/index.css", rel="stylesheet")
    link(rel="stylesheet", href="/css/login.css")


block append main_content
    .container
        .login.center-block.col-lg-5.col-md-5.col-sm-10
            h2 mentor login to bigred//hacks
            br/
            if (messages.error)
                .alert.alert-danger(role="alert")= messages.error[0].toLowerCase()
            form(action="/mentor/login", method="post")
                .form-group
                    label(for="secret-id") secret id
                    input#secret-id.form-control(type="password", name="secretId", placeholder="secret Id", required=true)
                button.btn.btn-primary.center-block(type="submit") login