//-
   Dayof checkin view

extends _layout-admin

block append vars
    - bodyAttr = {"data-ng-app": "brh.controllers"}

block append admin_content
    div(data-ng-controller='checkin.ctrl')
        +contentHeading("participant checkin")
        #searchparameters.col-md-12
            form
                .form-group
                    label(for='college') Filter by Name
                    input#search.form-control(type='text', name='search', ng-model='inputSearch', placeholder='Name', value='')
        #searchresults.col-md-12
            p#result-count.text-right  {{filtered.length}} results found.
            table.table.table-striped
                tr
                    th Name
                    th School
                    th Checked In
                tr
                    td(colspan='3', ng-if='filtered.length == 0')
                        p No results found.
                tr.user(ng-repeat='user in filtered =(users | filter:filterSearch | filter:filterCheckedIn)')
                    td
                        a(target='_blank', href='/admin/user/{{user.pubid}}')
                            | {{user.name.first + " " + user.name.last}}
                    td {{user.school.name}}
                    td
                        .form-inline
                            .checkbox.np-enabled
                                label
                                    input.checkbox(type='checkbox', value='true', ng-change='checkinUser(user.pubid)', ng-model='checkin')

block append footer
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js')
    script(src='//s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js')
    script(src='/js/admin/checkin.js')