//-
    Review applications


extends _layout-admin

block vars
    - user = currentUser || {}

block admin_content
    +contentHeading("Review Apps")
    .row.review-header
        include _statstemplate
    .row.review-body
        include _usertemplate
        include _userteamtemplate
    .row.review-footer
        a.btn.btn-primary(href="/admin/review") Next Applicant #[i.fa.fa-long-arrow-right]
