//-
   detailed user view

extends _layout-admin

block vars
    - user = currentUser || {};


block admin_content
    +contentHeading("Review User")
    .row.review-header
        include _statstemplate
    .row.review-body
        include _usertemplate
        include _userteamtemplate
    .row.review-footer
