extends ../_layout-unsecured

block header
    link(href='/css/index.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/login.css')

block append main_content
    .login.center-block.col-lg-5.col-md-5.col-sm-10
        h2 reset password
        br
        p
            | Your password has been successfully reset.
            br
            a(href='/') Return to BigRed//Hacks Home Page
            | .