//-
   User dashboard sidebar

-
    var urlItems = [
        {
            name: "dashboard home",
            url: "/user/dashboard"
        },
        {
            name: "schedule",
            url: "/user/dashboard/schedule"
        },
        {
            name: "edit application",
            url: "/user/dashboard/edit",
            reg_open: true
        },
        /*{
            name: "ask for help",
            url: "/user/dashboard/requestmentor"
        },*/
        {
            name: "mentor list",
            url: "/user/dashboard/mentorlist"
        },
        {
            name: "travel",
            url: "/user/travel",
            results_released: true
        },
        {
            name: "logout",
            url: "/user/logout"
        }
    ];

.col-sm-3.col-md-3.col-lg-2.sidebar
    a.brand(href="/"): img#brand-img(src="/img/logo/brh-logo-beige-full.svg")
    ul.nav.nav-sidebar
        +generateUrlList(urlItems, currentUrl)

