//-
   Event schedule

extends _layout-dashboard

block dashboard_content
    +contentHeading("schedule")
    p.long-text
        a(href='/docs/ProgramFall2015.pdf', target='_blank')
            b Read our full 2015 program
    #events