//-
   Travel information
    * This page does not follow the style guide for inline text.
        It should gradually be transitioned to use inline tags rather than piping.

extends _layout-dashboard

block dashboard_content
    +contentHeading("Dashboard")

    .container-fluid
        +sectionHeading("Location")
        p.long-text
            | The opening and closing ceremonies will be taking place at Call Auditorium in
            a(href='https://www.google.com/maps/place/Kennedy+Hall', target='_blank')  Kennedy Hall
            | . The hacking/main events will take place at the
            a(href='https://www.google.com/maps/place/Physical+Sciences+Bldg', target='_blank')  Physical Sciences Building (PSB)
            | .
        +sectionHeading("Bus Information")
        p.long-text
            | The time and location of each bus stop is shown below. A bus may have been
            | suggested to you if you are closer than
            em  50 miles
            |  from a bus stop. If you have decided to take that bus, please plan to arrive
            em  on time
            | . The buses run on strict schedules, and they will leave with or without you on
            | board. All times are approximate and may be subject to changes depending on traffic conditions and
            | availability. Please coordinate with your school's bus captain, as they will have the most up-to-date
            | information.
        table.table
            thead
                tr
                    th(colspan='3') Upstate New York
            tbody
                tr
                    td.col-md-4 11:00 am - 11:15 am
                    td.col-md-4 University at Buffalo
                    td.col-md-4 Hamilton Entrance
                tr
                    td.col-md-4 1:15 pm - 1:30 pm
                    td.col-md-4 Rochester Institute of Technology
                    td.col-md-4 Grace Watson Hall
        table.table
            thead
                tr
                    th(colspan='3') Pittsburgh/Binghamton
            tbody
                tr
                    td.col-md-4 9:15 am - 9:30 am
                    td.col-md-4 Carnegie Mellon University
                    td.col-md-4 5000 Forbes Ave.
                tr
                    td.col-md-4 3:00pm - 3:15 pm
                    td.col-md-4 SUNY at Binghamton
                    td.col-md-4 Lot T1
        table.table
            thead
                tr
                    th(colspan='3') NJ/NYC
            tbody
                tr
                    td.col-md-4 10:45 am - 11:00 am
                    td.col-md-4 Rutgers New Brunswick
                    td.col-md-4 Yellow Lot, Livingston Campus
                tr
                    td.col-md-4 12:00 pm - 12:15 pm
                    td.col-md-4 Columbia University
                    td.col-md-4 Broadway & 116th
        table.table
            thead
                tr
                    th(colspan='3') Maryland/Pennsylvania
            tbody
                tr
                    td.col-md-4 9:30 am - 9:45 am
                    td.col-md-4 University of Maryland
                    td.col-md-4 Parking Lot By H.J. Patterson Hall
                tr
                    td.col-md-4 12:00 pm - 12:15 pm
                    td.col-md-4 University of Pennsylvania
                    td.col-md-4 Irvine Auditorium
                tr
                    td.col-md-4 12:30 pm - 12:45 pm
                    td.col-md-4 Temple University
                    td.col-md-4 Parking Lot on W Norris St. & 12th S
        +sectionHeading("Planning your own travel")
        p.long-text
            | If you are planning your own travel, please plan to arrive on Friday around
            |  5:30 PM and to leave on Sunday around 3:00 PM. The opening ceremony will be held in
            em  Kennedy Hall.
            |  (GPS Address: 215 Garden Ave, Ithaca, NY 14850)
        h3 Traveling by Shortline
        p.long-text
            | Please plan to get off at the Collegetown stop. Kennedy Hall is roughly 20
            | minutes by foot. Alternatively, you can take TCAT routes
            a(href='http://tcat.nextinsight.com/pdfpics/30_fall2015.pdf', target='_blank')  30 outbound
            |  or
            a(href='http://tcat.nextinsight.com/pdfpics/32_fall2015.pdf', target='_blank')  32 outbound
            |  , getting on at the
            em  Collegetown @ Dryden
            |  stop (42°26'30.8"N 76°29'07.1"W) and getting off
            |  at the
            em  Rockefeller Hall
            |  stop. From Rockefeller Hall, it is a 3 minute walk to Kennedy
            |                     Hall. The TCAT fare is $1.50.
        h3 Traveling by Greyhound
        p.long-text
            | The Greyhound bus will drop you off at the downtown Ithaca terminal. The most
            |  convenient option would
            |  be to take a taxi to Kennedy Hall. Some taxi options include
            a(href='http://www.ithacataxi.biz/', target='_blank')  Ithaca Dispatch
            |  and
            a(href='http://collegetowncab.com/')  Collegetown Cab
            | . Alternatively, you can take the TCAT
            |                     routes
            a(href='http://tcat.nextinsight.com/pdfpics/30_fall2015.pdf', target='_blank')  30 outbound
            |  or
            a(href='http://tcat.nextinsight.com/pdfpics/32_fall2015.pdf', target='_blank')  32 outbound
            | , getting on at the
            em  Green St @ Commons
            |  stop (42°26'18.8"N 76°29'51.5"W). It is a 15 minute walk from the Greyhound terminal to the Green St @ Commons stop. Get off at
            em  Rockefeller Hall
            | . From Rockefeller Hall, it is a 3 minute walk to Kennedy Hall. The TCAT fare is $1.50.
        h3 Traveling by Car
        p
            | Note: Because it's Homecoming Weekend at Cornell, the parking situation is especially difficult.
            | Additionally, we anticipate several road closures on Friday and Saturday on the southern part of
            |  campus around the football field. Note that Hoy Garage will be CLOSED.
        p.long-text
            | If you are traveling by car, you can park your car at
            a(href='https://www.google.com/maps/place/A+Lot/@42.4481187,-76.4829308,10.26z/data=!4m5!1m2!2m1!1sA+Lot!3m1!1s0x0000000000000000:0x83c1e76e6ceea578')
                |  A Lot
            | . You will not need a parking permit to park there after 5pm on Friday
            |  through Sunday; however, if you plan on staying longer, you will need a temporary permit
            |  starting 7:30AM on Monday. More details can be found on the
            a(href='http://transportation.fs.cornell.edu/parking/campusparking/visitors/shortterm.cfm', target='_blank')
                |  Cornell Commuter and Parking Services Website
            | . We are not responsible for any fines for parking violations.
        p.long-text
            | If A Lot is filled, there are several garages in the Commons that are inexpensive
            |  and also offer free parking during off-hours. The TCAT, our local bus company, provides several
            |  routes (we recommend route 30) that run from the Commons to the center of campus. You can take route
            a(href='http://tcat.nextinsight.com/pdfpics/30_fall2015.pdf', target='_blank')  30 outbound
            |  or
            a(href='http://tcat.nextinsight.com/pdfpics/32_fall2015.pdf', target='_blank')  32 outbound
            |  , getting on at the
            em  Green St @ Commons
            |  stop (42°26'18.8"N 76°29'51.5"W). Get off at
            em  Rockefeller Hall
            | . From Rockefeller Hall, it is a 3 minute walk to Kennedy Hall. The TCAT fare is $1.50.
        h3 Flying to Tompkins Area Regional Airport
        p.long-text
            | If you are flying in, you can take a
            a(href='http://flyithaca.com/content/view/ground-transportation.html', target='_blank')  taxi
            |  (~$15-$20) to Kennedy Hall. Alternatively, you can take the TCAT route
            a(href='http://tcat.nextinsight.com/pdfpics/32_fall2015.pdf')  32 inbound
            |  and get off at
            em  Goldwin Smith Hall
            | . From Goldwin Smith Hall, it is a 3 minute walk to Kennedy Hall.