extends _layout-unsecured

block header
    link(href="/css/index.css",rel="stylesheet")

block main_content
    .container.center-block
        .landing-container
            .landing-icon.fa.fa-exclamation-triangle
            .landing-header 404 Page Not Found
            .landing-subheader The page you requested does not exist.
