extends _navbar

block header
    link(href="/css/index.css",rel="stylesheet")

block content
    .container.center-block
        .landing-container
            .col-md-12
                .col-md-offset-2.col-md-1
                    .landing-icon.fa.fa-exclamation-triangle
                .col-md-9
                    .landing-header 404 Page Not Found
                    .landing-subheader The page you requested does not exist.