//
   Extendable layout for all unsecured pages

extends _global/_layout



block header

block content
    include _navbar
    block main_content

block footer
    script(src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js")
    script(src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js")
    script(src="/js/jquery.validate.options.js")
    script(src="//cdn.socket.io/socket.io-1.2.0.js")
    script(src='/js/vendor/jquery.filepicker.min.js')
    script(src="/js/dashboard.js")