//-
   General navbar for unsecured pages


nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(href='/')
                img(alt='BigRed//Hacks', src='/img/icon/brh-icon-full.png', width=40, height=40)
        .navbar-header
            a.navbar-text(href='/') Home
        .navbar-header
            a.navbar-text(href="/register/cornelluniversity") Register
        .navbar-header
            a.navbar-text(href="/login") Login