//-
   General navbar for unsecured pages

nav.navbar.navbar-custom.navbar-fixed-top.top-nav-collapse(role='navigation')
    .container
        .navbar-header.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
                i.fa.fa-bars
            a.navbar-brand(href='/')
                img(src='/img/logo/brh-logo-beige-full.svg', height='40', width='180', draggable='false')
        //- Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
            ul.nav.navbar-nav
                li: a(href="/") Home
                if isUser
                    li: a(href="/user/dashboard") Dashboard
                    li: a(href="/user/logout") Logout
                else
                    if middlehelp.isRegistrationOpen()
                        li: a(href="/register") Register
                    li: a(href="/login") Login

