extends _layout-unsecured

block header
    link(href="/css/index.css", rel="stylesheet")
    link(rel="stylesheet", href="/css/hardware.css")

block main_content

            
block footer
    script(src="/js/hardware.js")
