extends _global/_layout

//-Generates full section header
mixin sectionHeading(name)
    .section-heading.container
        br
        h2(style={float: left}) #{name}
block append header
    link(href="/css/index.css", rel="stylesheet")
block append content
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        p.navbar-text BigRed//Hacks
      .navbar-header
        a.navbar-text(href='google.com') About
      .navbar-header
        p.navbar-text FAQ
      .navbar-header
        p.navbar-text Sponsors

block footer
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js")
    script(src="/js/index.js")
