extends _global/_layout
//-Generates full section header
mixin sectionHeading(name)
    .section-heading.container
        br
        h2(style={float: left}) #{name}
block append header
    link(href="/css/index.css", rel="stylesheet")
block append content
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand(href='#')
                    img(alt='BigRed//Hacks', src='/img/icon/brh-icon-full.png', width=40, height=40)
            .navbar-header
                a.navbar-text(href='google.com') About
            .navbar-header
                a.navbar-text FAQ
            .navbar-header
                a.navbar-text Sponsors
    section.intro#intro
        .slogan
            img.center-block(src='/img/sp17_brh_title.png', width= 800, height= 85)
            .intro-contents
              .headerbox
                .redbox
                  .img-block
                    img(src='/img/datascienceflask.png', width= 35, height= 56)
                  .big-heading
                    h2 Data Science Student Challenge
                  .big-heading2
                    h2 Powered by Cortana Intelligence Suite
                btn-group.group
                  button.button.btn.btn-default Apply Now
                  button.button.btn.btn-default Log In

//- Creates a message if content exists, where type:error|success
mixin message(content, type)
 if content
   - var msg_class
   case type.toLowerCase()
       when "error": -msg_class = "alert-danger"
       when "success": -msg_class = "alert-success"
       default: -msg_class = "alert-success"
   .alert.float.alert-dismissible.float.fadeOut(class=msg_class, role="alert")
       button.close(type="button", data-dismiss="alert", aria-label="Close"): span(aria-hidden="true") &times;
       | #{content.toLowerCase()}

if messages.error
  +message(messages.error[0].toLowerCase(), "error")
  if messages.success
  +message(messages.success[0].toLowerCase(), "success")

block footer
    script(src="/js/jquery.validate.options.js")
    script(src="//code.jquery.com/jquery-3.1.1.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js")
    script(src="/js/index.js")
