extends _global/_layout
//-Generates full section header
mixin sectionHeading(name)
    .section-heading.container
        br
        h2(style={float: left}) #{name}

mixin generateFAQs(text, count)
    - for (var i=0; i<count; i++)
        .question
            p Question
            p #{text}

block append header
    link(href="/css/index.css", rel="stylesheet")
block append content
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand(href='#')
                    img(alt='BigRed//Hacks', src='/img/icon/brh-icon-full.png', width=40, height=40)
            .navbar-header
                a.navbar-text(href='google.com') About
            .navbar-header
                a.navbar-text FAQ
            .navbar-header
                a.navbar-text Sponsors
    section.intro#intro
        .slogan
            img(src='/img/sp17_brh_title.png')
            h1 Spring Challenge
    section.faq#faq
        +sectionHeading("FAQ")
        .question-container
           // +generateFAQs("hello adsklfjals;dkfjakls;dfjal;sdfja;sdfjkasfd", 4)

        .container
            .faq-table
                dl
                    dt Who is eligible to participate?
                    dd
                        | We are inviting all undergraduate and graduate students to participate in our hackathon.
                        | You don't need any past experience.
                        | You don't even need to be a computer science major!
                        | Our only requirement is that you are at least 18 years old and enrolled in an accredited college or university.
                    dt What will I need to bring?
                    dd
                        | Bring your school ID for registration.
                        | You are also responsible for bringing any equipment for building and demoing your hack: laptop, chargers, phones, etc.
                        | You may also want to bring a sleeping bag, change of clothes, and toothbrush.
                    dt Do I have to sign up with a team?
                    dd
                        | You don't have to sign up with a team, but it's certainly more fun!
                        | We allow teams of up to four people (they don't have to be from the same school), and while they can be specified on the application, you won't officially create your team until the event.
                        | If you don't have a team yet, we'll host a social before the hacking begins for you to meet other amazing people.
                    .break-bef
                    dt Are you providing food?
                    dd
                        | Don't worry, there will be lots of delicious food and beverages at our event, complementary to all participants.
                        | We'll have vegetarian options as well.
                    dt What's the deal with transportation?
                    dd
                        | Our goal is to reimburse student travel as needed (up to $150 evaluated on a case by case basis).
                        | There will be a reimbursement table: please bring your travel ticket, receipt, and government-issued photo ID.
                        | We ask that you pick a reasonably priced method of travel.
                        | There will be limited on-campus parking.
                        | We'll also be chartering buses for popular locations.
                        | <br><br>Are you the director of a hackathon club at your school? Get in touch with us to organize a trip!
                    dt Are hardware hacks allowed?
                    dd
                        | This is the first year that we will be providing a dedicated hardware lab with sensors, microcontrollers, and basic components.
                        | Some of our sponsors are bringing hardware to loan, but we still suggest that you bring your own equipment if you know that you'll absolutely need it.
                    .break-bef
                    dt What are the rules?
                    dd
                        | We want BigRed//Hacks to be fun and fair for everyone.
                        | Your project should be started from scratch and worked on only during the 36 hours, and you may only incorporate outside resources (code, graphics, sound, etc) that are freely licensed and accessible to all participants equally.
                        | Of course, maintain a positive, respectful attitude toward your fellow hackers throughout the event.
                    dt Why is there an application?
                    dd
                        | We want to guarantee that students from a wide range of schools and experiences are given an equal and fair chance to participate.
                        | Furthermore, we hope that the process will encourage registrants to be committed to building something awesome.
                        | Even if you've never been to a hackathon before, please apply!
                    dt Why can't Cornell students apply yet?
                    dd
                        | We're doing applications a little differently this year.
                        | General applications are immediately available for all students not at Cornell.
                        | In early September, we will open applications to Cornell students, and these will be on a first-come first-serve basis.
block footer
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js")
    script(src="/js/index.js")
