extends _global/_layout

//-Generates full section header
mixin sectionHeading(name)
    .section-heading.container
        //img.leaf(src="img/leaf-red.svg")
        br
        h2(style={float: left}) #{name}

block vars
    - bodyAttr = {"id":"page-top", "data-spy":"scroll", "data-target":".navbar-custom"}
block append header
    link(href="/css/index.css", rel="stylesheet")

block append content

    nav.navbar.navbar-custom.navbar-fixed-top.top-nav-collapse(role="navigation")
        .container
            .navbar-header.page-scroll
                button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-main-collapse")
                    i.fa.fa-bars
                a.navbar-brand(href="/")
                    img(src="img/logo/BRH-Logo-White.svg", height="40" width="180", draggable="false")

            //- Collect the nav links, forms, and other content for toggling
            .collapse.navbar-collapse.navbar-left.navbar-main-collapse
                ul.nav.navbar-nav
                    li: a(href="#about") About
                    li: a(href="#sustainable") Sustainability
                    li: a(href="#faq") FAQ
                    li: a(href="#sponsors") Sponsors


    //- Creates a message if content exists, where type:error|success
    mixin message(content, type)
        if content
            - var msg_class
            case type.toLowerCase()
                when "error": -msg_class = "alert-danger"
                when "success": -msg_class = "alert-success"
                default: -msg_class = "alert-success"
            .alert.float.alert-dismissible.float.fadeOut(class=msg_class, role="alert")
                button.close(type="button", data-dismiss="alert", aria-label="Close"): span(aria-hidden="true") &times;
                | #{content.toLowerCase()}

    if messages.error
        +message(messages.error[0].toLowerCase(), "error")
    if messages.success
        +message(messages.success[0].toLowerCase(), "success")

    //- Section: intro
    section#intro.intro
        .transparent
        .intro-wrapper
            .h1container
                h1 #[div.icon] BigRed//Hacks
            .intro-contents
            .bluebox
                .slogan
                    br
                    br
                    br
                    br
                    .center-date
                        .big-heading2
                            h2 Sept 16-18, 2016 @ Ithaca, NY
                            h2 Cornell University
                            br
                            br

                        .buttons
                            if isUser
                                case userRole
                                    when "admin": a.btn.btn-light-blue(href="/admin/dashboard") admin dashboard
                                    when "mentor": a.btn.btn-light-blue(href="/admin/dashboard") my dashboard
                                    default: a.btn.btn-light-blue(href="/user/dashboard") my dashboard
                            else
                                if middlehelp.isRegistrationOpen()
                                    button.btn.btn-light-blue(data-toggle="modal" data-target="#regModal") register
                                    | &nbsp;&nbsp;&nbsp;
                                    a.btn.btn-blue(href="/login") login
                                else
                                    a.btn.btn-blue(href="/register/cornelluniversity") cornell register
                                    | &nbsp;&nbsp;&nbsp;
                                    a.btn.btn-blue(href="/login") login

                //- section about
                //+sectionHeading("Be a part of something big")
                .about#about.container
                    br
                    br
                    br
                    br
                    .big-heading
                        h2 Be a part of something big 

                    p
                        | BigRed//Hacks is the oldest student-run, large-scale hackathon at Cornell University.
                        | Across three days, students from all across the US will gather to build the coolest and most innovative projects, meet amazing people, and win some prizes along the way!
                    p We encourage all developers regardless of technical ability or hackathon experience to apply. Admission and food is free for all hackers.
                    br

        .leftClouds(data-100="left:-5%;" data-top="left:-30%;")
        .rightClouds(data-50="left:70%;" data-top="left:100%;")
        .rainClouds(data-0="left:-30%;" data-160-top="left:0%;")

    //- Section: sustainable
    section#clocktowerland.clocktowerland
        .clockTop
        .clockBody
            .clockWindow
            .clockCircle
                p.counter 162
                p days until
                p BigRed//Hacks!
        section#sustainable.sustainable
            .driftCloud1(data-100-bottom="left:40%;" data-top="left:100%;")
            .driftCloud2(data-100-bottom="left:37%;" data-top="left:100%;")
            .content
                +sectionHeading("Sustainable hacks")
                .container
                    br
                    p
                        | Passionate about the environment? This year, we will have prizes for the best sustainable hacks.
                        | Band together with other like-minded students to solve some of the most pressing issues facing our planet’s future.
                    p We will provide mentors and resources necessary for your hack to succeed!
                    br



        section#whaleDiv
            .whale


    //- Section: faq
    section.hillholder
        .hill
    section#faq.faq

        .wave1
        .wave2
        .wave3
        +sectionHeading("Frequently Asked Questions")
        .container
            dl
                dt Who is eligible to participate?
                dd
                    | We are inviting all undergraduate and graduate students to participate in our hackathon.
                    | You don't need any past experience.
                    | You don't even need to be a computer science major!
                    | Our only requirement is that you are at least 18 years old and enrolled in an accredited college or university.
                dt What will I need to bring?
                dd
                    | Bring your school ID for registration.
                    | You are also responsible for bringing any equipment for building and demoing your hack: laptop, chargers, phones, etc.
                    | You may also want to bring a sleeping bag, change of clothes, and toothbrush.
                dt Do I have to sign up with a team?
                dd
                    | You don't have to sign up with a team, but it's certainly more fun!
                    | We allow teams of up to four people (they don't have to be from the same school), and while they can be specified on the application, you won't officially create your team until the event.
                    | If you don't have a team yet, we'll host a social before the hacking begins for you to meet other amazing people.
                dt Are you providing food?
                dd
                    | Don't worry, there will be lots of delicious food and beverages at our event, complementary to all participants.
                    | We'll have vegetarian options as well.
                dt What's the deal with transportation?
                dd
                    | Our goal is to reimburse student travel as needed (up to $150 currently, subject to change).
                    | There will be a reimbursement table: please bring your travel ticket, receipt, and government-issued photo ID.
                    | We ask that you pick a reasonably priced method of travel.
                    | There will be limited on-campus parking.
                    | We'll also be chartering buses for popular locations.
                    | <br><br>Are you the director of a hackathon club at your school? Get in touch with us to organize a trip!
                dt Do I have to do a sustainable hack?
                dd
                    | Nope! While the theme of this year's BigRed//Hacks will be sustainability, we'll have plenty of other
                    | prize categories to compete for.
                dt Are hardware hacks allowed?
                dd
                    | This is the first year that we will be providing a dedicated hardware lab with sensors, microcontrollers, and basic components.
                    | Some of our sponsors are bringing hardware to loan, but we still suggest that you bring your own equipment if you know that you'll absolutely need it.
                dt What are the rules?
                dd
                    | We want BigRed//Hacks to be fun and fair for everyone.
                    | Your project should be started from scratch and worked on only during the 36 hours, and you may only incorporate outside resources (code, graphics, sound, etc) that are freely licensed and accessible to all participants equally.
                    | Of course, maintain a positive, respectful attitude toward your fellow hackers throughout the event.
                dt Why is there an application?
                dd
                    | We want to guarantee that students from a wide range of schools and experiences are given an equal and fair chance to participate.
                    | Furthermore, we hope that the process will encourage registrants to be committed to building something awesome.
                    | Even if you've never been to a hackathon before, please apply!
                dt Why can't Cornell students apply yet?
                dd
                    | We're doing applications a little differently this year.
                    | General applications are immediately available for all students not at Cornell.
                    | In early September, we will open applications to Cornell students, and these will be on a first-come first-serve basis.
                    | Add yourself to the mailing list so that you'll know when applications open.
                dt Have more questions?
                dd Send them to #[a(href="mailto:info@bigredhacks.com") info@bigredhacks.com], or tweet us #[a(href="http://www.twitter.com/@BigRedHacks", target="_blank") @BigRedHacks].
                //- School 1 20-30%
                .redfish(style="top:20%;" data-800-top="left:70%;" data--200-top="left:35%;")
                .bluefish(style="top:22%;" data-800-top="left:90%;" data--200-top="left:25%;")
                .greenfish(style="top:26%;" data-800-top="left:85%;" data--200-top="left:15%;")
                //- School 2 45-55%
                .redfish(style="top:45%;" data-900-top="left:60%;" data--200-top="left:22%;")
                .bluefish(style="top:48%;" data-900-top="left:75%;" data--200-top="left:25%;")
                .redfish(style="top:52%;" data-900-top="left:62%;" data--200-top="left:12%;")
                .orangefish(style="top:54%;" data-900-top="left:64%;" data--200-top="left:12%;")
                .yellowfish(style="top:57%;" data-900-top="left:55%;" data--200-top="left:11%;")
                //- School 3 75-85%
                .redfish(style="top:75%;" data-900-top="left:70%;" data--200-top="left:-10%;")
                .bluefish(style="top:78%;" data-900-top="left:90%;" data--200-top="left:5%;")
                .orangefish(style="top:82%;" data-900-top="left:85%;" data--200-top="left:7%;")
                .redfish(style="top:85%;" data-900-top="left:85%;" data--200-top="left:2%;")

    //- Section: sponsors
    section#sponsors.sponsors
        +sectionHeading("Past sponsors")

        .container
            ul.logos
                li.logo-1
                    a(href='http://capitalone.com')
                        img(src='img/logos/capitalone.png', alt='Capital One')
                li#uber.logo-1
                    a(href='http://uber.com')
                        img(src='img/logos/uber.png', alt='Uber')
                li#Priceline.logo-1
                    a(href='http://priceline.com')
                        img(src='img/logos/priceline.png', alt='Priceline')
            ul.logos
                li#bloomberg.logo-1
                    a(href='http://www.bloomberg.com')
                        img(src='img/logos/bloomberg.png', alt='Bloomberg')
                li#a16z.logo-1
                    a(href='http://www.a16z.com')
                        img(src='img/logos/a16z.png', alt='Andreessen Horowitz')
                li#goldmansachs.logo-1
                    a(href='http://www.goldmansachs.com')
                        img(src='img/logos/goldmansachs.png', alt='Goldman Sachs')

            ul.logos
                li#mathworks.logo-1
                    a(href='http://www.mathworks.com')
                        img(src='img/logos/mathworks.png', alt='MathWorks')
                li#epic.logo-1
                    a(href='http://www.epic.com')
                        img(src='img/logos/epic.png', alt='Epic')
                li#oracle.logo-1
                    a(href='http://www.oracle.com')
                        img(src='img/logos/oracle.png', alt='Oracle')
            ul.logos
                li#wolfram.logo-1
                    a(href='http://www.wolfram.com')
                        img(src='img/logos/wolfram.png', alt='Wolfram')
                li#microsoft.logo-1
                    a(href='http://www.microsoft.com')
                        img(src='img/logos/microsoft.png', alt='Microsoft')
                li#buttonfrog.logo-1
                    a(href='http://www.buttonfrog.com')
                        img(src='img/logos/buttonfrog.png', alt='Button Frog')
            ul.logos
                li#stickermule.logo-1
                    a(href='http://www.stickermule.com')
                        img(src='img/logos/stickermule.png', alt='Sticker Mule')
                li#dotco.logo-1
                    a(href='http://go.co')
                        img(src='img/logos/dotco.png', alt='.CO')
                li#sabra.logo-1
                    a(href='http://www.sabra.com')
                        img(src='img/logos/sabra.png', alt='Sabra')
            ul.logos
                li#insomnia.logo-1
                    a(href='http://www.insomniacookies.com')
                        img(src='img/logos/insomnia.png', alt='Insomnia Cookies')
                li#chobani.logo-1
                    a(href='http://www.chobani.com')
                        img(src='img/logos/chobani.png', alt='Chobani')
                li#eship.logo-1
                    a(href='http://eship.cornell.edu')
                        img(src='img/logos/eship.png', alt='Entrepreneurship at Cornell')
            ul.logos
                li#mlh.logo-1
                    a(href='http://www.mlh.io')
                        img(src='img/logos/mlh.png', alt='Major League Hacking')
                li#cornellcs.logo-1
                    a(href='http://www.cs.cornell.edu')
                        img(src='img/logos/cornell-cs.png', alt='Cornell Computer Science')
            p.logos
                | Interested in sponsoring? Contact us at
                a(href='mailto:sponsors@bigredhacks.com')  sponsors@bigredhacks.com
                | .
            br
            br
            br

    footer
        .container
            .row
                .col-md-12.col-lg-12
                    p.footer
                        a(href='http://www.facebook.com/BigRedHacks', target='_blank')
                            img.s-icon(src='img/social/icon_facebook.png', draggable='false')
                        | &nbsp;&nbsp;
                        a(href='http://www.twitter.com/BigRedHacks', target='_blank')
                            img.s-icon(src='img/social/icon_twitter.png', draggable='false')
                        | &nbsp;&nbsp;
                        a(href='https://www.instagram.com/bigredhacks/', target='_blank')
                            img.s-icon(src='img/social/icon_instagram.png', draggable='false')
                        | &nbsp;&nbsp;
                        a(href='mailto:info@bigredhacks.com')
                            img.s-icon(src='img/social/icon_email.svg', draggable='false')
                        | &nbsp;&nbsp;
                    br
                    p.footer
                        | ©2016 BigRed//Hacks
                        br
                        //span#cover-photo-attribution
                        | All other trademarks and logos ® their respective owners.
                        br
                        | From Ithaca with ♥
    #regModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                form#subscribeEmail(method='post', action='/cornell/subscribe', name='subscribeEmail')
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Where do you go to school?
                    .modal-body.hidden
                        p Cornell University students won't be able to register until September, but in the meantime, add yourself to the mailing list. You'll receive an email when we open registration.
                        .form-group
                            label(for='cornellEmail') email address *
                            input#cornellEmail.form-control(type='email', name='cornellEmail', placeholder='bigredhacks@cornell.edu', value='', required='')
                    #regFooter.modal-footer
                        button#regCornell.btn.btn-blue.reg-select(type='button') Cornell/Ithaca
                        a.btn.btn-blue.reg-select(href='/register') Somewhere else
                        button#cornell-submit.btn.btn-blue.hidden(type='submit') Submit

block footer
    script(src="/js/vendor/jquery.easing.min.js")
    script(src="/js/vendor/jquery.scrollTo.js")
    script(src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js")
    script(src="/js/jquery.validate.options.js")
    script(src="/js/vendor/skrollr.min.js")
    script(src="/js/index.js")