extends _global/_layout
//-Generates full section header
mixin sectionHeading(name)
    .section-heading.container
        br
        h2(style={float: left}) #{name}
block append header
    link(href="/css/index.css", rel="stylesheet")
block append content
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand(href='#')
                    img(alt='BigRed//Hacks', src='/img/icon/brh-icon-full.png', width=40, height=40)
            .navbar-header
                a.navbar-text(href='google.com') About
            .navbar-header
                a.navbar-text FAQ
            .navbar-header
                a.navbar-text Sponsors
    section.intro#intro
        .slogan
            img.center-block(src='/img/sp17_brh_title.png', width= 800, height: 85)
            .intro-contents
              .headerbox
                .redbox
                  .big-heading
                    h2 Data Science Student Challenge
                  .big-heading2
                    h2 Powered by Cortana Intelligence Suite
                btn-group.group
                  button.button.btn.btn-default Apply Now
                  button.button.btn.btn-default Log In
block footer
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js")
    script(src="/js/index.js")
