extends _layout-unsecured


block header
    link(href="/css/index.css", rel="stylesheet")
    link(rel="stylesheet", href="/css/login.css")


block header
    link(href="/css/index.css",rel="stylesheet")

block append main_content
    section#info
        p#welcome
            | Welcome to the BigRed//Hacks 2016 puzzle challenge!
            | Solve all of our puzzles first and you'll be given guaranteed admission to this year's BigRed//Hacks as well as
            | a reasonable reimbursement for transportation if we don't provide a bus to your school!
        p#details
            | You'll have to solve several puzzles. Our puzzles are separate from bigredhacks.com from here, so you'll have to
            | use the solution of each puzzle to get to the next. We're hosting all of our puzzles at TODO, so when you think you have a
            | solution, just append it to the link TODO.
            | For example, if the solution to your puzzle is amazing_solution, the next puzzle is at TODO. Try it now with that solution!