//theme colors
@dark-red: #c1272d;
@medium-red: #cd5257;
@light-red: #e1979a;
@dark-blue: #3765b0;
@light-blue: #afc1df;
//header sizes
@h1-size: 44pt;
@h2-size: 24pt;
@h3-size: 16pt;

//font weights
@weight-normal: 300;
@weight-bold: 500;