@import "_global";

body {
  padding-top: 80px;
  padding-bottom: 50px;
  height: initial;
  background-color: @bg-light;
}

#title {
    text-align: center;
}

.tabs {
    text-align: center;
}
.tabs ul {
    display: inline-block;
}
li {
    text-transform: lowercase;
}