@import "_global";
@import "_fontawesome-custom";
@import "_index_effects";
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

@main-header-size: 68pt;
@body-line-height: 1.6em;
@body-size: 16px;

@nav-purple: lighten(fade(@purple, 70%), 20%);
@nav-blue: rgba(178, 223, 244, 0.7);
@nav-orange: fade(@orange, 70%);

@landing-box-margin: 150px;
@content-padding-left: 0%;
@content-width: 50%;

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

img {
  .noselect;
}

//disable horizontal scrolling
//html, body {
//    max-width: 100%;
//    overflow-x: hidden;
//}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: @weight-normal;
  color: @bg-light;
  background-color: @bg-dark;
  padding: 0;
  margin: 0;
}
@media (max-width: 768px){
  body{
    width: 800px;
  }
  .navbar-fixed-top {
    position: relative;
    top: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0 10px 90px;
  font-family: 'Overpass Mono', sans-serif;
  font-weight: @weight-normal;
  letter-spacing: 2px;
  z-index: 999999;
}

p {
  text-align: left;
  margin: 0 0 20px;
  .lead {
    font-weight: @weight-bold;
  }
  .footer {
    font-size: 12px;
    text-align: center;
  }
}

p, dl {
  font-size: @body-size;
  line-height: @body-line-height;
}

dd {
  line-height: @body-line-height;
  margin: 0 0 25px;
}

a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:hover, &:focus {
    text-decoration: none;
    color: #176e61;
  }
}

.light {
  font-weight: 400;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .3);

}

.navbar-brand {
  font-weight: 700;
  height: 40px;
  padding: 10px 15px 0 50px;
  font-size: 18px;
  line-height: 1em;
  h1 {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
  }
  &:focus {
    outline: 0;
  }
}

// ===========================
//--- General sections
//============================

section {
  .container {
    width: @content-width;
    padding-left: @content-padding-left;
  }
  .redbox {
    .container {
      position: relative;
      //left: -80px;
      width: 40%;
    }
  }
  .sustainable {
    .container {
      width: 40%
    }
  }
}

.headerbox {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-right: 180px;
}

.redbox {
  //background-color: @medium-red;
  margin-top: 10px;
  //margin-left: calc(~"25% - 150px");
  //margin-right: calc(~"50% - 120px");
  h2,h3,h4,p {
    color: @white;
  }
}
.img-block {
  position: absolute;
  padding-top: 30px;
  padding-left: 25px;
}
.big-heading h2 {
  color: @white;
  font-size: 28px;
  padding-top: 25px;
  margin-bottom: 18px;
  font-family: 'Overpass Mono', sans-serif;
}

.center-date {
  width: 80%;
  left: 30%;
}

.big-heading2 h2 {
  color: @white;
  font-size: 13px;
  font-family: 'Overpass Mono', sans-serif;
  text-align: left;
  padding-bottom: 25px;
}
#date{
  padding-bottom: 0px;
}
#caption{
  padding-top: 0px;
  margin-top:0px;
}
.home-section {
  padding-top: 10px;
  padding-bottom: 100px;
  display: block;
  position: relative;
  z-index: 120;
  &:nth-child(even) {
    background: #f9f6d9
  }
}

.section-heading {
  h2 {
    font-size: 40px;
    color: #cd5257;
    display: inline-block;
    margin-left: 0px;
  }
}
.dots {
  display: inline-block;
  .dot1{
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background-color: @dark-red;
    display: inline-block;
    margin: 0 3px;

  }
  .dot2{
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background-color: @medium-red;
    display: inline-block;
    margin: 0 3px;

  }
  .dot3{
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background-color: @light-red;
    display: inline-block;
    margin: 0px 20px 0px 3px;

  }
}
// ===========================
//--- Intro
//============================

.intro {
  width: 100%;
  padding: 80px 0 0 0;
  //padding-top: 15%; //with announcement
  position: relative;
  background-color: #242C37;
  //background-color: @white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .banner{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: @white;
    margin-top: 50px;
    text-align: center;
    //margin-left: 90px;
    img {
      height: 40px;
      margin-left: 40px;
    }
    .logos{
      display: inline-block;

    }

  }
  @media (max-width: 768px){
    .btn.btn-default{
      margin-right: 70px;
      margin-left: 70px;
    }
    .banner{
      display:none;
    }
  }
  .intro-wrapper {
    text-align: center;
    position: relative;
    color: @black;

    img {
      position: relative;
      top: -21px;
      padding-right: 10px;
    }

    h2, h4, h3 {
      z-index: 600;
    }

    .h1container {
      position: relative;
      height: 50px;
      //margin-left: calc(~"25% - 150px");
      display: inline-block;
      padding-bottom: 0;
      //top: -70px;
      //float: left;

      .icon { top: -15px; }
      h1 {
        margin: 0;
        padding: 0;
        //position: absolute;
        bottom: 0;
        width: 100%;
        font-size: @main-header-size; //60px;
        line-height: @main-header-size;
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        color: @picton;
        font-family: 'Oval-Light', sans-serif;
        text-transform: uppercase;
        .noselect;
        vertical-align: text-bottom;
      }
    }

    h2, h3, h4 {
      margin: 0 0 15px;
      color: @picton;
    }
    .intro-contents {
      display: inline-block;
      margin-bottom: 0;
      padding-bottom: 0;
      .slogan {
        text-align: left;
        float: left;
      }
    }
 //   .date {
 //     //text-align: right;
 //     position: absolute;
  //    right: 0;
  //  }


  }
  .page-scroll {
    text-align: center;
  }

}

.buttondiv {
  position: relative;
  float: left;
  margin-left: calc(~"25% - 50px");
}


.transparent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  //background: rgba(0, 0, 0, 0.3);
  background: @white;
}

.sponsors {
  h2 {
    color: @black;
    text-align: center;
  }
  .container img{
    margin-bottom: 80px;
  }

}

#microsoft{
  height: 200px;
}
.schedule {

  h2, h3, h4, p {
    margin: 0px;
  }
  h2 {
    margin-bottom: 15px;
  }
  h3 {
    margin-bottom: 10px;
  }
  .data {
    p {
      margin: 0px;
    }
    h5 {
      color: @light-gray;
    }
  }

  margin-bottom: 100px;
}

@media (min-width: 767px){
  .faq-table {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    margin-bottom: 150px;
  }
  dd, dt {
    color: @bg-light;
  }
}


.faq {
  position: relative;
  z-index: 500;
  padding-top: 70px;
  padding-bottom: 0px;
  opacity: 0.8;

  .break-bef {
    break-before: column;
  }
  h2 {
    font-size: 18px;
    color:#cd5257;
  }
  p {
    color: white;
  }
  dd, dt {
    color: @bg-light;
  }
  .container {
    width: 80%;
  }
  dt {
    font-size: 20px;
    padding-top: 10px;
  }
  dd {
    font-size: 16px;
    font-weight: @weight-normal;
  }
  a {
    color: white;
  }
}

.boxed-grey {
  padding: 20px;
}

.pics {
  h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  p.subtitle {
    font-size: 13px;
    margin-bottom: 10px;
  }
}

.avatar {
  margin-bottom: 20px;
}

// ===========================
//--- Footer
//============================

footer {
  padding: 50px;
  background-color: #242C37;
  //background-color: @dark-red;
  bottom: 0;
  width: 100%;
  margin-top: 30px;

  .container{
    width: 80%;
  }
}

footer p {
  color: #f8f8f8;
  text-align: left;

}

// ===========================
//--- Elements
//============================

.btn {
  font-family: "Overpass Mono", Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 9px 15px 9px 15px;
  z-index: 600;
  position: relative;
  background-color: transparent;
  border-color: transparent;
  border-bottom-width: thick;
  color: red;


  &.fixed-width {
    width: 90px;
  }
}

/* Media queries */

@media (min-width: 767px) {

  .red{
    color: red;
  }
  .navbar {
    padding: 20px 0;
    letter-spacing: 2px;
    background: 0 0;
    border-color: transparent;
  }

  .navbar-default .navbar-text {
    // font-weight: bold;
    //font-family: 'Nunito';
    color: @bg-light;
    margin-left: 60px;
    padding-top: 15px;
    font-size: 16px;
  }

  .intro {
    min-height: 110wh;
  }

  .brand-heading {
    font-size: 100px;
  }

  .intro-text {
    font-size: 25px;
  }

}

@media (max-width: 768px) {

  .navbar {
    letter-spacing: 2px;
    background: 0 0;
    border-color: transparent;
  }
  .a.navbar-text {
    display: inline;
  }

  .navbar-default
    .navbar-text {
      font-weight: 900;
      font-family: 'Nunito';
      color: @bg-light;
      font-size: 16px;
    }
  .intro {
    .intro-wrapper {
      .h1container {
        margin-left: 0;

        .icon {
          top: -26px;
          height: 64px;
          width: 64px;

        }

        h1 {
          font-size: @main-header-size - 28pt;
          line-height: @main-header-size;
        }
      }
    }
  }

  .buttons {
    padding-left: 0;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 496px) {


  #sponsors {
    display: none;
    //position: relative;
  }

}

.top-nav-collapse {
  background: @medium-red;
  opacity: .92;
}

.modal-footer#regFooter {
  text-align: center;
}


//sponsors

.logos {
  //width: 800px; //todo width based on screen
  width: 100%;
  //margin: 0 auto 30px auto;
  text-align: center;
}

.logos li {
  list-style-type: none;
  display: inline;
}

.logo-4 img {
  max-width: 50%;
  margin: 0 0 3% 0;
  max-height: 165px;
}

.logo-3 img {
  max-width: 40%;
  margin: 0 4% 3% 0;
  max-height: 120px;
}

.logo-2 img {
  max-width: 23%;
  margin: 2% 7% 3% 5%;
  max-height: 100px;
}

.logo-1 img
{
  max-width: 23%;
  margin: 3% 3% 0 3%;
  max-height: 60px;
}
