@import "_global";
@import "_fontawesome-custom";
@import "_index_effects";

@main-header-size: 68pt;
@body-line-height: 1.6em;
@body-size: 16px;

@nav-purple: lighten(fade(@purple, 70%), 20%);
@nav-blue: rgba(178, 223, 244, 0.7);
@nav-orange: fade(@orange, 70%);

@landing-box-margin: 150px;
@content-padding-left: 0%;
@content-width: 50%;

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

img {
  .noselect;
}

//disable horizontal scrolling
//html, body {
//    max-width: 100%;
//    overflow-x: hidden;
//}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: @weight-normal;
  color: @black;
  background-color: @bg-light;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: @weight-normal;
  letter-spacing: 1px;
  text-transform: lowercase;
  z-index: 999999;
}

p {
  text-align: left;
  margin: 0 0 20px;
  .lead {
    font-weight: @weight-bold;
  }
  .footer {
    font-size: 12px;
    text-align: center;
  }
}

p, dl {
  font-size: @body-size;
  line-height: @body-line-height;
}

dd {
  line-height: @body-line-height;
  margin: 0 0 25px;
}

a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:hover, &:focus {
    text-decoration: none;
    color: #176e61;
  }
}

.light {
  font-weight: 400;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .3);

}

.navbar-brand {
  font-weight: 700;
  height: 40px;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 1em;
  h1 {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
  }
  &:focus {
    outline: 0;
  }
}

.nav.navbar-nav {
  &.orange {
    background-color: @nav-orange;
  }
  &.blue {
    background-color: @nav-blue;
  }
  &.purple {
    background-color: @nav-purple;
  }
}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
  background-color: rgba(0, 0, 0, 0);
  a {
    font-size: 16px;
  }
}

.navbar-custom ul.nav li a {
  font-size: 12px;
  letter-spacing: 1px;
  color: @black;
  font-weight: @weight-bold;
  text-transform: lowercase;
}

.navbar-custom.top-nav-collapse ul.nav li a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #fff;
}

.navbar-custom ul.nav ul.dropdown-menu {
  border-radius: 0;
  li {
    border-bottom: 1px solid #f5f5f5;
    &:last-child {
      border-bottom: none;
    }
    a {
      padding: 10px 20px;
      &:hover {
        background: #fefefe;
      }
    }
  }
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
  color: #666;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
  color: #67b0d1;
}

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: 0;
  background-color: rgba(255, 255, 255, .2);
}

.navbar-toggle {
  padding: 4px 6px;
  font-size: 14px;
  color: #fff;
  &:focus, &:active {
    outline: 0;
  }
}

// ===========================
//--- General sections
//============================

section {
  .container {
    width: @content-width;
    padding-left: @content-padding-left;
  }
  .bluebox {
    .container {
      position: relative;
      //left: -80px;
      width: 50%;
    }
  }
  .sustainable {
    .container {
      width: 32.5%
    }
  }
}

.bluebox {
  background-color: @sky-blue;
  margin-left: calc(~"25% - 150px");
  margin-right: calc(~"25% - 150px");
  padding: 0 0 60px 0;
    h2 {
    color: @sky-blue;
  }
  p{
    color: @jasonblue;
  }
  h3,h4{
    color: @jasonblue;
  }
}
.big-heading h2{
  color: @jasonblue;
    font-size: 34px;
    text-transform: lowercase;
    width:100%;
}

.center-date {
  width: 80%;
  left: 30%;
}

.buttons{
  //position: relative;
  padding-left: 31%;
  padding-right: 0;
  margin-right: 0;
  color: @jasonblue;
  font-size: 40px;
  text-transform: lowercase;
  text-align: left;
}

.big-heading2 h2{
  position: relative;
  padding-left: 31%;
  padding-right: 0;
  margin-right: 0;
  color: @jasonblue;
  font-size: 40px;
  text-transform: lowercase;
  text-align: left;
}

.home-section {
  padding-top: 10px;
  padding-bottom: 100px;
  display: block;
  position: relative;
  z-index: 120;
  &:nth-child(even) {
    background: #f9f6d9
  }
}

.section-heading {
  h2 {
    font-size: 40px;
    color: @black;
    text-transform: lowercase;
  }
}

// ===========================
//--- Intro
//============================

.intro {
  width: 100%;
  padding: 200px 0 80px 0;
  //padding-top: 15%; //with announcement
  position: relative;
  background-color: @white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .intro-wrapper {
    text-align: center;
    position: relative;
    color: @black;

    img {
      position: relative;
      top: -21px;
      padding-right: 10px;
    }

    .icon {
      background-image: url(/img/icon/brh-icon-blue-full.svg);
      background-size:contain;
      background-repeat: no-repeat;
      position: relative;
      height: 100px;
      width: 100px;
      display: inline-block;
      margin-right: -10px;
      margin-bottom: 0;
      vertical-align: bottom;
    }

    h2, h4, h3 {
      z-index: 600;
    }

    .h1container {
      position: relative;
      height: 50px;
      //margin-left: calc(~"25% - 150px");
      display: inline-block;
      padding-bottom: 0;
      //top: -70px;
      //float: left;

      .icon { top: -15px; }
      h1 {
        margin: 0;
        padding: 0;
        //position: absolute;
        bottom: 0;
        width: 100%;
        font-size: @main-header-size; //60px;
        line-height: @main-header-size;
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        color: @picton;
        font-family: 'Oval-Light', sans-serif;
        text-transform: uppercase;
        .noselect;
        vertical-align: text-bottom;
      }
    }

    h2, h3, h4 {
      margin: 0 0 15px;
      color: @picton;
    }
    .intro-contents {
      display: inline-block;
      margin-bottom: 0;
      padding-bottom: 0;
      .slogan {
        text-align: left;
        float: left;
      }
    }
 //   .date {
 //     //text-align: right;
 //     position: absolute;
  //    right: 0;
  //  }

    .announcement {
      &.orange {
        color: @nav-orange !important;
      }
      &.blue {
        color: @nav-blue !important;
      }
      &.purple {
        color: spin(saturate(lighten(@nav-purple, 40%), 70%), 10) !important;
      }
    }

  }
  .page-scroll {
    text-align: center;
  }
}

.buttondiv {
  position: relative;
  float: left;
  margin-left: calc(~"25% - 50px");
}


.transparent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  //background: rgba(0, 0, 0, 0.3);
  background: @white;
}

/*
.brand-heading {
  font-size: 40px;
}

.intro-text {
  font-size: 18px;
}*/

// ===========================
//--- About
//============================
/*.about {
  background-color: @white;
  z-index: -2;
  position: relative;
  p, h2 {
    position: relative;
    //padding-left: @content-padding-left;
    //width: @content-width;
    color: @black;
    z-index: 999;
  }
}*/

.sponsors {
  background-color: @white;
  h2 {
    color: @black;
    text-align: center;
  }

}



.sustainable {
  padding-top: 60px;
  padding-bottom: 250px;
  z-index: -2;
  position: relative;
  p, h2 {
    z-index: 50;
    color: #3c3c3c;
  }
  background: @white;
  .content {
    padding-top: 100px;
  }
}

.preload01  { background: url(/img/whale_happy.svg) no-repeat -9999px -9999px; }

.hillholder {
  position: relative;
  z-index: 50;
}

.faq {
  position: relative;
  z-index: 500;
  padding-top: 180px;
  padding-bottom: 180px;
  opacity: 0.8;

  h2, dd, dt {
    color: @off-white;
  }
  .container {
    color: @off-white;
  }
  background: @ocean-blue;
  dt {
    font-size: 20px;
    padding-top: 10px;
  }
  dd{
    font-size: 16px;
    font-weight: @weight-normal;
  }
  a{
    color: @light-purple;
  }
}

.boxed-grey {
  padding: 20px;
}

.pics {
  h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  p.subtitle {
    font-size: 13px;
    margin-bottom: 10px;
  }
}

.avatar {
  margin-bottom: 20px;
}

// ===========================
//--- Footer
//============================

footer {
  text-align: center;
  padding: 50px 0;
  background-color: @cornflower;

}

footer p {
  color: #f8f8f8;
}

// ===========================
//--- Elements
//============================

.btn {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 9px 15px 9px 15px;
  z-index: 600;
  position: relative;
  &.btn-red {
    font-weight: @weight-bold;
  }
  &.btn-blue {
    font-weight: @weight-bold;
    border-radius: 10px;
    width: 150px;
  }
  &.btn-light-blue {
    font-weight: @weight-bold;
    border-radius: 10px;
    width: 150px;
  }
  
  &.fixed-width {
    width: 90px;
  }
}

/* Media queries */

@media (min-width: 767px) {

  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: #000;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }

  .intro {
    min-height: 110wh;
  }

  .brand-heading {
    font-size: 100px;
  }

  .intro-text {
    font-size: 25px;
  }

}

@media (max-width: 768px) {

  .intro {
    .intro-wrapper {
      .h1container {
        margin-left: 0;

        .icon {
          top: -26px;
          height: 64px;
          width: 64px;

        }

        h1 {
          font-size: @main-header-size - 28pt;
          line-height: @main-header-size;
        }
      }
    }
  }

  .intro {
    .slogan {
      h2 {
        font-size: @main-header-size - 50pt;
      }
    }
  }

  .clockCircle p, .clockBody, .hill, .clockTop, .raindrop{
    visibility: hidden;
    display: none;
  }

  .center-date {
    width: 100%;
  }


  .buttons {
    padding-left: 0;
    text-align: center;
    width: 100%;
  }

  .btn {
    &.btn-blue {
      font-weight: @weight-bold;
      width: 130px;
    }
    &.btn-light-blue {
      font-weight: @weight-bold;
      width: 130px;
    }
  }

}


@media (max-width: 496px) {



  .navbar-custom .nav.navbar-nav {
    background-color: rgba(255, 255, 255, .4);
  }

  .navbar.navbar-custom.navbar-fixed-top {
    margin-bottom: 30px;
  }

  #sponsors {
    display: none;
    //position: relative;
  }

  .bluebox {
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .big-heading2 h2{
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    color: @jasonblue;
    font-size: 5px;
    text-transform: lowercase;
    text-align: center;
  }

  section {
    .container {
      width: 100%;
      padding: 0 15px 0 15px;
    }
    .sustainable {
      padding-top: 0;
      padding-bottom: 50px;
      .container {
        width: 100%;
      }
      .content {
        padding-top: 0;
      }
    }
    .bluebox {
      .container {
        width: 100%;
        left: 0;
      }
    }
    .intro {
      padding-bottom: 20px;
    }
  }

  .faq {
    padding-top: 50px;
  }
}

.top-nav-collapse {
  background: @cornflower;
  opacity: .92;
}

.modal-footer#regFooter {
  text-align: center;
}

.raindrop {
  position: absolute;
  z-index: 1500;
  width: 9px;
  height: 65px;
  background: @cornflower;
}

//sponsors

.logos {
  //width: 800px; //todo width based on screen
  width: 100%;
  //margin: 0 auto 30px auto;
  text-align: center;
}

.logos li {
  list-style-type: none;
  display: inline;
}

.logo-4 img {
  max-width: 60%;
}

.logo-3 img {
  max-width: 46%;
  margin: 0 4% 0 0;
  max-height: 130px;
}

.logo-2 img {
  max-width: 50%;
  margin: 2% 7% 0 5%;
  max-height: 95px;
}

.logo-1 img, .logo-0 img {
  max-width: 26%;
  margin: 0 3%;
}

#dotco img{
  height: 80px;
}

#insomnia img {
  height: 90px;
}

#a16z img {
  height: 50px;
}

#epic img {
  height: 60px;
}


.clocktowerland {
  position: relative;
}

@media (min-width: 767px) {
  .clocktower {
    background-image: url(/img/clocktower.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 800px;
    left: 80%;
    position: absolute;
    z-index: 1000;
  }

  .clockTop {
    position: absolute;
    z-index: 50;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 75px 300px 75px;
    top: -450px;
    bottom: 0;
    left: 75%;
    //overflow: hidden;
    border-color: transparent transparent #d8d8d8 transparent;
  }

  .clockBody {
    position: absolute;
    z-index: 50;
    width: 150px;
    max-width: 150px;
    height: calc(~"100% + 150px");
    top: -150px;
    bottom: 0;
    left: 75%;
    overflow: hidden;
    background: #f0f0f0;
  }

  .clockCircle {
    .noselect;
    position: absolute;
    top: 22%;
    left: calc(~"50% - 62.5px");
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background: #FFFFFF;
    .counter {
      padding-top: 24px;
      text-align: center;
      vertical-align: middle;
      font-size: 50px;
      line-height: 30px;
      color: @picton;
    }
    p {
      text-align: center;
      vertical-align: middle;
      font-size: 12px;
      line-height: 1px;
      color: @picton;
    }
  }

  .hill {
    background-image: url(/img/hill.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 760px;
    height: 320px;
    left: 70%;
    top: -319px;
    position: absolute;
    z-index: 100;
  }

  .clockWindow {
    position: absolute;
    background-image: url(/img/windows.svg);
    background-repeat: no-repeat;
    top: 5%;
    left: calc(50% - (37px));
    width: 125px;
    height: 125px;
  }

  .cloud-generic {
    background-image :url(/img/cloud1.svg);
    background-size:contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
  }

  .cloud-static {
    background-image :url(/img/clouds/high-cloud-1.svg);
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    width: 28%;
    height: 28%;
  }
    .leftClouds {
      .cloud-static;
      left: 0%;
      top: 28%;
    }

    .rightClouds {
      .cloud-static;
      left: 70%;
      top: 40%;
    }

  .rainClouds {
    .cloud-static;
    top: 80%;
    width: 25%;
    height: 32%;
    //opacity: .8;
  }

  .twocloud {
    position: absolute;
    top: 60%;
    width: 100%;
    height: 20%;
    left: -4%;
  }

  .cloud6 {
    .cloud-static;
    background-image: url(/img/clouds/lowcloud5.svg);
    top: 100%;
    left: 5%;
    z-index: 3000;
    width: 30%;
    height: 30%;
  }

  .cloud3 {
    .cloud-static;
    background-image: url(/img/clouds/highcloud6.svg);
    top: 96%;
    left: 66%;
    height: 6%;
  }

  .cloud4 {
    .cloud-static;
    background-image: url(/img/clouds/lowcloud4.svg);
    top: 70%;
    z-index: 3000;
    width: 60%;
    height: 60%;
  }

  .cloud5 {
    .cloud-static;
    background-image: url(/img/clouds/lowcloud3.svg);
    top: 70%;
    left: 70%;
    z-index: 3001;
    width: 30%;
    height: 30%;
  }

  .driftCloud1 {
    .cloud-static;
    background-image: url(/img/clouds/lowcloud1.svg);
    top: 32%;
    opacity: .8;
    z-index: 3000;
    width: 16%;
    height: 16%;
  }

  .driftCloud2 {
    .cloud-static;
    background-image: url(/img/clouds/lowcloud2.svg);
    top: 32%;
    opacity: .8;
    z-index: 3000;
    width: 16%;
    height: 16%;
  }

  @media (min-width: 1500px) {
    .whale {
      background-image: url(/img/whale.svg);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 500;
      position: absolute;
      height: 300px;
      width: 700px;
      top: -220px;
      left: 35%;
      margin-left: auto;
      margin-right: auto;
    }

    // Whale
    #whaleDiv {
      position: relative;
    }

    .whale:hover {
      background-image: url(/img/whale_happy.svg);
    }
  }

    .whale {
      background-image: url(/img/whale.svg);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 500;
      position: absolute;
      height: 150px;
      width: 350px;
      top: -110px;
      left: 35%;
      margin-left: auto;
      margin-right: auto;
    }

    // Whale
    #whaleDiv {
      position: relative;
    }

    .whale:hover {
      background-image: url(/img/whale_happy.svg);
    }


  .wave {
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 3500;
    position: absolute;
    height: 300px;
    width: 700px;
    top: -5px;
    left: 55%;
    margin-left: auto;
    margin-right: auto;
  }

  .wave1 {
    .wave;
    background-image: url(/img/waves/wave1.svg);
    top: -5px;
    left: 55%;
  }

  .wave2 {
    .wave;
    background-image: url(/img/waves/wave2.svg);
    top: 6%;
    left: 45%;
  }

  .wave3 {
    .wave;
    background-image: url(/img/waves/wave3.svg);
    top: 97%;
    left: 2%;
  }


  .fishGeneric {
    background-size:contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 60px;
    position: absolute;
    z-index: -10;
  }


  .redfish {
    .fishGeneric;
    background-image: url(/img/fishred.svg);
  }

  .bluefish {
    .fishGeneric;
    background-image: url(/img/fishblue.svg);
  }

  .orangefish {
    .fishGeneric;
    background-image: url(/img/fishorange.svg);
  }

  .yellowfish {
    .fishGeneric;
    background-image: url(/img/fishyellow.svg);
  }

  .greenfish {
    .fishGeneric;
    background-image: url(/img/fishgreen.svg);
  }
}

.landing-container {
  margin-top: 200px;
}