@import "_global";

body {
  padding-top: 80px;
  padding-bottom: 50px;
  height: initial;
  background-color: @bg-light;
}

.login {
  float: none;
  margin: 0 auto;
}

.login-help {
  margin-top: 10px;
}